@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Ocultar scrollbar pero mantener funcionalidad de scroll en móviles */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari y Opera */
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
